/* General container styles */
.container {
  background-color: #272727;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.leaderboard-container{
  background-color: #fffaf0;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
/* Header */
.leaderboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.leaderboard-title {
  font-size: 24px;
  font-weight: bold;
  color: #292929;
  text-shadow:  0 4px 10px rgba(0, 0, 0, 0.2);
}

.header-button{
  background-color: #000000;
  border: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  color: #fff;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.header-button:hover{
  background-color: #474747;
  box-shadow: 0 4px 10px rgba(4, 4, 4, 0.2);
}

/* Top Leaderboard */
.top-leaderboard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-leaderboard-container {
  /* background-color: #292929; */
  color: #000000;
  padding: 15px;
  border-radius: 15px;
  width: 100px;
  text-align: center;
}

.leader-gold {
  /* background-color: #f7c90c; */
  color: #f7c90c;
  margin-top: 2rem;
}

.leader-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.leader-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.leader-score {
  font-size: 16px;
  font-weight: bold;
}

/* Other Players */
.other-players {
  margin-bottom: 20px;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323232;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
.player:hover{
  background-color: #474747;
}

.player-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fffaf0;
}

.player-rank {
  font-size: 16px;
  font-weight: bold;
  color: #292929;
  /* font-weight: 2rem; */
  color: #fffaf0;
}

.player-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.player-name {
  font-size: 16px;
  color: #292929;
  color: #fffaf0;
}

.player-score {
  font-size: 16px;
  font-weight: bold;
  color: #292929;
  color: #fffaf0;
}

/* Footer Navigation */
.leaderboard-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-button:hover {
  background-color: #292929;
}

.footer-page {
  font-size: 16px;
  font-weight: bold;
  color: #474747;
}