.lifeline_conatiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 14rem;
    padding-top: 0.5rem;
}
.Lifeline_btn{
    border-radius: 100%;
    width: 56px;
    height: 56px;
}
.Btn50-50{
    background-color: #e55603;
    color: rgb(255, 255, 255);
}

.Btn50-50:hover{
    color: #000000;
    background-color: #bf4a06;
}
.Btn2x{
    background-color: #1dafea;
    color: rgb(255, 255, 255);
}
.Btn2x:hover{
    background-color: #1899cc;
    color: rgb(0, 0, 0);
}