.lifeline_conatiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 11.78rem;
    padding-top: 0.5rem;
}
.Lifeline_btn{
    border-radius: 100%;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.Btn50-50{
    background-color: #e55603;
    color: rgb(255, 255, 255);
}

.Btn50-50:hover{
    /* color: #000000; */
    background-color: #bf4a06;
}
.Btn2x{
    background-color: #1dafea;
    color: #e5cb22;
    font-size: 1.8rem;
    align-items: center;
    padding-left: 1rem;
}
.Btn2x:hover{
    background-color: #1899cc;
    /* color: rgb(0, 0, 0); */
}