/* Container styles */
.conatiner {
  background-color: #121212;
  color: white;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.card_conatiner{
  background: #fffaf0;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  max-width: 400px;
  height: 600px;
  border: 2px solid #ffffff;
  border-style: solid;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.card-body_top-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 0.5rem; */
  gap: 5rem;
}
.left_top-section{
  padding: 1.3rem;
  background-color: #323232;
  border-radius: 20px;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.right_top-section{
  padding: 1.38rem;
  background-color: #323232;
  color: #ffffff;
  border-radius: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.card-body_timer{
  position: relative;
  margin: 0 auto;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.timer{
  position: relative;
  width: 62px;
  height: 62px;
  border: 4px solid #00bcd4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c; 
}
.timer_count{
  font-size: 1rem;
  font-weight: bold;
  color: #00bcd4;
  text-align: center;
  line-height: 62px;
}
.card-body_question{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 2rem;
  margin-left: 1rem;
  width: 300px;
  height: 140px;
  font-size: auto;
  border-radius: 20px;
  background-color: #323232;
}
.card-question{
  color: #ffffff;
}
.card-body_options{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.default-option{
  background-color: #323232;
  color: white;
  border: none; 
  padding: 10px 20px; 
  cursor: pointer;
  /* border-radius: 20px;  */
  transition: background-color 0.3s; 
  width: 300px;
}

.default-option:hover {
    background-color: #4a4a4a;
}
.card-body_lifelines{
  display: flex;
  align-items: center;
}
.card-body_nextbtn{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.9rem;
  background-color: #000000;
}
.nxt-default-option{
  background-color: #000000;
  color: white;
  border: none; 
  padding: 10px 20px; 
  cursor: pointer;
  /* border-radius: 20px;  */
  transition: background-color 0.3s; 
  width: 300px;
}