/* Container styles */
.container {
    background-color: #121212;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #1f1f1f;  
}
.navbar_title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.auth_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.authEntry{
    background: #F7F4E3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
    max-width: 400px;
    box-shadow: rgb(100, 100, 100);
    margin-bottom: 1rem;  
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}
.auth_input{
    /* padding: 1rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.authEntry_input{
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 3rem;
    width: 19rem;
    border-radius: 10px;
    padding: 0.5rem;
}
.authEntry_btn{
    background-color: #000000;
    color: #FCFCE4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    /* border-radius: 30px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* margin-right: 0.2rem; */
    width: 19rem;
}
.authEntry_btn:hover{
    background-color: #474747;
    color: #ffffff;
}